.analytics-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.chart-container {
  width: 800px;
  height: 400px;
}

@media screen and (max-width: 500px) {
  .analytics-section {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .chart-container {
    width: 100%;
    height: 100%;
  }
}
