.ant-menu-light .ant-menu-item-selected {
    background-color: #edfcf2;
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical {
    border: 0;
}

.ant-menu-light .ant-menu-item-selected {
    background-color: #edfcf2;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-submenu-title {
    margin: 0;
    width: 100%;
}

.ant-drawer .ant-drawer-body {
    padding: 0;
}
