.novel-input.ant-input,
.novel-input.ant-picker {
    margin: 0px;
    padding: 8px 12px;
    background-color: transparent !important;
    border-radius: 8px;
    color: #1e293b !important;
    border: 1px solid #e7e5e4;
    font-family: 'satoshi';
}
.novel-input.ant-input::placeholder,
.novel-input.ant-picker::placeholder {
    color: #a0a0ab !important;
    opacity: 0.7;
}

.ant-form-item.novel-label {
    .ant-row.ant-form-item-row {
        .ant-col.ant-form-item-label > label {
            color: #475569 !important;
            margin-bottom: 10px;
        }
    }
}
.novel-input.ant-input:focus,
.ant-input-focused,
.novel-input.ant-picker:focus,
.ant-picker-focused {
    border-color: #16b364 !important;
    border-right-width: 1px;
    outline: 0;
    box-shadow: 0px 0px 8px rgba(22, 179, 100, 0.5);
}

.ant-form-item.novel-label {
    margin-bottom: 0;
    .ant-row.ant-form-item-row {
        .ant-col.ant-form-item-label > label {
            color: #16b364 !important;
            margin-bottom: 10px;
            font-weight: 600;
        }
    }
}

.novel-input.ant-input[disabled] {
    background-color: #f1f5f9 !important;
    color: #1e293b !important;

    &::placeholder {
        color: #1e293b !important;
        opacity: 0.5;
    }
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    box-shadow: none;
}
