@import '../components/layouts/MainLayout/mainlayout.module.scss';
@import '../components/pageComponents/Tracker/tracker.module.scss';
@import '../components/common/components/Modal/modal.module.scss';
@import '../components/common/components/MultiSelect/multiselect.module.scss';
@import '../components/common/components/Input/input.module.scss';
@import '../components/common/components/Select/select.module.scss';
@import '../components/common/components/SelectWithInnerDropdown/selectwithinnerdropdown.module.scss';

.ant-typography {
    font-family: 'satoshi' !important;
}
.ant-pagination-slash {
    display: none;
}

.ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input {
    border: none;
}

.ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input:focus {
    border: none;
    box-shadow: none;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 16px 50px;
}

.ant-pagination.ant-pagination-simple .ant-pagination-prev,
.ant-pagination.ant-pagination-simple .ant-pagination-next {
    margin-top: -2px;
}

.ant-pagination .ant-pagination-prev,
.ant-pagination .ant-pagination-jump-prev,
.ant-pagination .ant-pagination-jump-next {
    margin: 0;
}

.ant-drawer .ant-drawer-close {
    display: none;
}
